<md-card>
  <md-card-title>Player: {{ player.name }}</md-card-title>
  <p>
    <md-input [(ngModel)]="player.name" placeholder="Player name"></md-input>
  </p>
  <p>
    Mode:
    <md-radio-group [(ngModel)]="player.mode">
      <md-radio-button value=0>Human</md-radio-button>
      <md-radio-button value=1>Bot</md-radio-button>
    </md-radio-group>
  </p>
  <p *ngIf="player.mode == 1">
       Bot difficulty:
       <md-radio-group [(ngModel)]="player.botMode">
         <md-radio-button value=0>Easy</md-radio-button>
         <md-radio-button value=1>Medium</md-radio-button>
         <md-radio-button value=2>Hard</md-radio-button>
       </md-radio-group>
   </p>
 </md-card>
