<md-card>
  Current player: {{player}}
</md-card>
<md-card>
  <p>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">1</button>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">2</button>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">3</button>
  </p>
  <p>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">4</button>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">5</button>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">6</button>
  </p>
  <p>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">7</button>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">8</button>
    <button md-fab md-tooltip="Klicke um Spielstein zu setzen!" color="accent">9</button>
  </p>
</md-card>
