<md-card>
  Current player: {{player}}
</md-card>
<md-card>
  <table>
      <tr>
          <td>
              <div></div>
          </td>
          <td>
              <div></div>
          </td>
          <td>
              <div></div>
          </td>
      </tr>
      <tr>
          <td>
              <div></div>
          </td>
          <td>
              <div></div>
          </td>
          <td>
              <div></div>
          </td>
      </tr>
      <tr>
          <td>
              <div></div>
          </td>
          <td>
              <div></div>
          </td>
          <td>
              <div></div>
          </td>
      </tr>
  </table>
</md-card>
